.container{
  padding: 1rem;
}

/* LOGIN FORM */
.form-container {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 5rem;
}

.form-container .input-container {
  margin-bottom: 10px;
}

.form-container .input-container span {
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.form-container .input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.btn {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.submit-btn {
  margin-top: 10px;
}


/* Mobile CSS */
@media screen and (max-width: 768px) {
  .form-container {
    width: 95%;
  }
}