/* Image CSS */
.image-card {
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.image-container {
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
}

.image-card img {
    object-fit: contain;
    width: 300px;
    height: 100%;
}

.image-card p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}